#github{
    margin: auto 20px;
}
#linkedin{
    margin: auto 20px;
}
#w3schools{
    margin: auto 20px;
}
#stackoverflow{
    margin: auto 20px;
}
#github img, #linkedin img, #w3schools img, #stackoverflow img {
    width: 100px;
}