/* stylelint-disable linebreaks */
@font-face {
  font-family: 'Odachi';
  src: url('Odachi.otf') format('opentype');
  font-weight: normal;
}

body {
  font-family: Odachi, Tahoma, serif;
  background: linear-gradient(45deg, #041C32, #04293A, #064663, #ECB365);
  background-size: 300% 300%;
  color: rgb(194, 217, 238);
  text-shadow: 5px 5px 5px #000000;
}

h1 {
    text-align: center;
    margin: 0;
    font-size: 100px;
}

main {
  width: 606px;
  margin: auto;
}

#color-palette , #color-palette2 {
  display: inline-block;
  margin: auto 4px;
}

#color-palette li , #color-palette2 li , .rubber {
  width: 40.7px;
  height: 40.7px;
  list-style-type: none;
  display: inline-block;
  transition: 0.5s ease;
  cursor: crosshair;
}

.rubber {
  border-radius: 50%;
}

#color-palette li:hover , #color-palette2 li:hover , #color-palette3 li:hover , #color-palette4 li:hover , .rubber:hover {
  -webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 0.5s ease;
}

.rubber {
  background-image: url(/images/rubber.jpg);
  border: 1px solid black;
}

#menu-guia {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  display: none;
}

#panel {
  width: 606px;
  margin: auto;
}

#color-palette3 , #color-palette4 {
  display: inline-block;
  margin: auto;
}

#color-palette3 li , #color-palette4 li{
  width: 40.7px;
  height: 40.7px;
  list-style-type: none;
  transition: 0.5s ease;
  cursor: crosshair;
}

#pixel-board {
  display: inline-block;
  margin: 0 4px;
  background-repeat: no-repeat;
}

.color , .pixel {
  border: 1px solid black;
  background-color: transparent;
}

.pixel {
  display: table-cell;
  width: 14px;
  height: 14px;
  margin: 0;
  opacity: 0.5;
  cursor: url('/images/Circly.png'), default;
}

#section-buttons {
  margin: 30px 0;
  text-align: center;
}

#generate-board , #home-background , #clear-board , #guia {
  display: inline-block;
  position: relative;
  margin-left: 10px;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1;
  margin: 10px;
  padding: 1em 1em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida SansUnicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

#generate-board:hover , #home-background:hover , #clear-board:hover , #guia:hover , #generate-board:focus , #home-background:focus , #clear-board:focus , #guia:focus {
  box-shadow: 0 0 40px 40px #e74c3c inset;
  color: #fff;
  outline: 0;
}

footer {
  background: linear-gradient(45deg, #1A374D, #406882, #6998AB, #B1D0E0);
  background-size: 400% 400%;
  color: rgb(194, 217, 238);
  height: 180px;
  text-align: center;
  margin-top: 40px;
}

#betrybe , #follow {
  display: inline-block;
  margin: 20px 0 0 60px;
}

#project {
  background: linear-gradient(45deg, #041C32, #04293A, #064663, #ECB365);
  background-size: 400% 400%;
  height: 50px;
}

#project p {
  font-size: 13px;
  padding: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida SansUnicode', Geneva, Verdana, sans-serif;
  font-weight: 700;
  margin-top: 40px;
}
