body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(108, 92, 122);
}

header {
  background-color: rgb(53, 92, 125);
}

nav ul li {
  display: inline-block;
}

h1 {
  padding-bottom: 10px;
  padding-left: ;
}
.menu {
  text-align: center;
}

.menu img , .artigo img {
  width: 17px;
  padding-right: 2px;
  filter: brightness(80%);
}

.home , .about , .contact {
  background-color: rgb(108, 92, 122);
  padding: 10px;
  border-radius: 25%;
  font-size: 20px;
  margin-top: 20px;
}

#logo {
  text-align: center;
  font-family: fantasy;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
#logo img {
  width: 200px;
  height: 110px;
  filter: brightness(80%);
}

.menu li {
  margin-right: 30px;
  padding-right: 20px;
}

.artigo {
  text-align: center;
}

.artigo li {
  list-style: none;
  display: inline-block;
}

#main-section {
  background-color: rgb(65, 88, 107);
  margin: auto;
  width: 895px;
  padding: 30px 5px 5px 30px;
}

.first-section , .second-section , .third-section , .fourth-section {
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: top;
  width: 445px;
  height: 640px;
  filter: brightness(80%);
}

.first-section {
  background-image: url(/images/card-4.jpg);
}

.second-section {
  background-image: url(/images/card-5.jpg);
}

.third-section {
  background-image: url(/images/card-3.jpg);
}

.fourth-section {
  background-image: url(/images/card-2.jpg);
}

.first-section p , .second-section p , .third-section p , .fourth-section p {
  margin: 400px 45px 0 33px;
  width: 350px;
}
.first-section h3 , .second-section h3 , .third-section h3 , .fourth-section h3 {
  margin-top: 32px;
  margin-left: 60px;
  font-size: 24px;
}

.ref {
  text-align: center;
}

.video {
  text-align: center;
  color: rgb(107, 35, 17);
}

footer {
  background-color: rgb(53, 92, 125);
  width: auto;
  height: 50px;
  text-align: center;
  padding-top: 20px;
  margin-top: 20px;
  font-weight: 600;
}