/* stylelint-disable linebreaks */
.completed {
  text-decoration: line-through solid black;
}

* {	
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: Source Sans Pro, 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-weight: 600;
}

header {
  width: 500px;
  height: 135px;
  background-color: rgba(2, 79, 129, 0.7);
  opacity: 0.8;
}

h1 {
  letter-spacing: 0;
  font-size: 50px;
  color: lightblue;
  text-align: center;
  margin-top: 30px;
  background-color: rgba(2, 79, 129, 0.7);
  margin-top: 0;
}

body {
	width: 500px;
	margin: 0 auto;
  margin-bottom: 50px;
  background: black;
  background-image: url(/projetos/todo-list/images/bg.png);
  background-repeat: no-repeat;
  box-shadow: inset 0 0 1em rgba(5, 115, 189, 0.7), 0 0 0.7em rgba(5, 115, 189, 0.7);
}

main , input , .div-buttons {
  width: 500px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 0%, rgba(244,230,212,1) 0%, rgba(249,248,199,1) 100%);
  padding-top: 10px;
}

li {
	width: 93%;
  margin-left: 18px;
	height: 40px;
	font-size: 1.4em;	
	border-top: solid 1px lightblue;
	border-bottom: solid 1px lightblue;
  list-style: none;
  background-image:url(/projetos/todo-list/images/vgrey-mini.png);
  background-repeat: no-repeat;
  padding-left: 30px;
}

li:first-child {
  border-top:none;
}

.buttonIn {
  width: 100%;
  position: relative;
  height: 70px;
}

input {
	height:45px;
	font-size:1.3em;
  text-align: center;
	border:solid 1px black;	
  outline:none;
	background-color:rgb(248, 248, 227);
  margin: 20px 0;
  padding: 0;
}

input:focus::placeholder {
  color: transparent;
}

#criar-tarefa {
  margin-left: 420px;
  width: 75px;
  position: absolute;
  top: 27px;
  border-radius: 10%;
  cursor: pointer;
	border: solid 1px black;	
  display: none;
  height: 32px;
}

#criar-tarefa img {
	opacity: 0.9;
}

.div-buttons {
  height: 60px;
  position: relative;
  bottom: 0;
  margin-bottom: 0;
  margin-top: 5px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(52, 164, 179, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 20%;
  filter: sepia(30%);
  transition: 0.1s ease;
}

button:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.1s ease;
}

button img {
  height: 30px;
  filter: grayscale(50%);
}

#linkX, #linkV, #linkF {
  margin-right: 5px;
}

#linkX {
  margin-left: 30px;
}

#mover-cima {
  margin-left: 35px;
  margin-right: 5px;
}

#mover-baixo {
  margin-right: 35px;
}

#salvar-tarefas , #apaga-tudo {
  margin-right: 10px;
}

footer {
  width: 500px;
  height: 110px;
  background-color: rgba(2, 79, 129, 0.7);
  opacity: 1;
  text-align: center;
  padding-top: 30px;
}

#follow {
  display:inline-block;
}

#follow img {
  width: 25px;
}

#lk {
  padding-left: 8px;
}

#project {
  padding-top: 20px;
  font-size: 13px;
}
